body {
			background-color: #000;
			overflow-x: hidden;
		}
		
		.grid-img {
				background: url(images/new-grid-test.jpg);
		}
		
		#wrapper {
			width: 1000px;
			height: 660px;
			background-repeat: no-repeat;
			margin-top: 40px;
		}
		
		#shelf-wrapper {
			margin: 0;
			width: 400px;
			float: right;
		}

		#container #furniture img {
			height: 120px;
			width: 120px;
		}

#container div#furniture {
	margin-top: -40px;
}

		#minus-button {
		position: fixed;
			bottom: 30px;
			right: 0px;
			float: right;
			z-index: 3;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
		}
		
		.shelf-img {
	background: url(images/new-shelf.jpg);
		}
		
	#container {
		height: 600px;
		background-repeat: repeat-y;
		margin: 0px 0px;
		text-align: left;
		width: 660px;
		margin-left: 300px;
	}
		
		#container .row {
			position: relative;
			top: -15px;
			padding-left: 90px;
			padding-bottom: 70px;
			
		}
		
		#container .row img {
			padding:0 10px;	
			height: 80px;
			width: 80px;
		}

		.bigIMG {
		}
		
		.hidden {
			display: none;
		}
		
		p {
			color: #FFF;
			width: 300px;
			height: 100px;
		}
		
		.row div {
			display: inline;
		}